:root
{
    --silver:#848484;
    --little-dark-scrollbar:#C0C0C0;
}

body::-webkit-scrollbar 
{
    width: 11px;
}
  
  /* Track */
body::-webkit-scrollbar-track 
{
    background: #f5f5f5; 
}
   
  /* Handle */
body::-webkit-scrollbar-thumb 
{
    background: var(--little-dark-scrollbar); 
}
  
/* Handle on hover */
body::-webkit-scrollbar-thumb:hover 
{
    background: var(--silver); 
}

#img-developer
{
    transition: width 1s;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
}

#img-developer:hover
{
    width: 53% !important;
    cursor: pointer !important;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

[class = "card"]
{
    cursor: pointer;
}

@media only screen and (max-width: 767px)
{
    #img-developer
    {
        width: 100% !important;
    }

    #img-developer:hover
    {
        width: 100% !important;
    }
    header .row div
    {
        padding: 5% !important;
    }
}